<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gestión de Horarios</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="horarioForm" (ngSubmit)="agregarHorario()">
        <ion-item>
          <ion-label position="floating">Días de la Semana</ion-label>
          <ion-select formControlName="diasSemana" multiple="true">
            <ion-select-option *ngFor="let dia of diasSemana" [value]="dia">{{ dia }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-note color="danger" *ngIf="horarioForm.get('diasSemana')?.touched && horarioForm.get('diasSemana')?.invalid">
          Seleccione al menos un día
        </ion-note>

        <ion-item>
          <ion-label position="floating">Hora de Inicio</ion-label>
          <ion-input type="time" formControlName="horaInicio"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="horarioForm.get('horaInicio')?.touched && horarioForm.get('horaInicio')?.invalid">
          La hora de inicio es requerida
        </ion-note>

        <ion-item>
          <ion-label position="floating">Hora de Fin</ion-label>
          <ion-input type="time" formControlName="horaFin"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="horarioForm.get('horaFin')?.touched && horarioForm.get('horaFin')?.invalid">
          La hora de fin es requerida
        </ion-note>

        <ion-button expand="block" type="submit" class="ion-margin-top">
          Agregar Horario
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Horarios Actuales</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let horario of horarios">
          <ion-label>
            <h2>{{ horario.diasSemana }}</h2>
            <p>{{ horario.horaInicio }} - {{ horario.horaFin }}</p>
          </ion-label>
          <ion-button slot="end" color="danger" (click)="inactivarHorario(horario.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content> 